ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

html body {
    height: 100%;
    background: #f0f2f5;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: "Microsoft YaHei", "sans-serif", "Helvetica"; //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}